In [2]:
def addvalue (x,y):
    result = x + y
    return result 

addresult = addvalue(10,2)

print(addresult)

12

In [3]:
def subvalue (x,y):
    result = x - y
    return result

subresult = subvalue(10,50)

print(subresult)

-40

In [4]:
def multivalue (x,y):
    result = x * y
    return result

multiresult = multivalue(5,10)

print(multiresult)

50

In [5]:
def divvalue (x,y):
    result = x / y
    return result

divresult = divvalue(55,5)

print(divresult)

11.0

In [6]:
def modvalue (x,y):
    result = [x,y]
    return result

modresult = modvalue(2,4)
print(modresult)

[2, 4]

In [1]:
def student(name1,class1,batch):
    result = {"name": name1,
              "class": class1,
               "batch": batch }
    
    return result

output = student("john","data_analytics","DA")

print(output)

{'name': 'john', 'class': 'data_analytics', 'batch': 'DA'}

In [2]:
def program(function,location,timing):
    result  = {"name": function,
               "place": location,
               "time": timing }
    
    return result

output = program("marriage","pune","07:00 PM")

print(output)

{'name': 'marriage', 'place': 'pune', 'time': '07:00 PM'}